@font-face {
  font-family: "Radley";
  font-style: normal;
  font-weight: 400;
  src: local("Radley"), url("http://fonts.gstatic.com/s/radley/v9/UTbgAl3muiq7aUhg3IKeIA.woff2") format("woff2");
}

@font-face {
  font-family: "Radley";
  font-style: italic;
  font-weight: 400;
  src: local("Radley Italic"), local("Radley-Italic"), url("http://fonts.gstatic.com/s/radley/v9/hztq3onOJfu5NWEzZxu6D_esZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
}

html, div, span, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Radley";
}

section {
  margin: 40px auto;
}

body {
  color: #777;
  padding: 5px 10px;
  font-size: 12pt;
}

h1 {
  font-style: italic;
}

h1, h2, h3 {
  color: #121212;
}

h4, h5, h6 {
  color: #777;
}

.clothing-title {
  color: #121212;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20px;
  width: 200px;
}

.clothing-sizes {
  padding: 0 10px;
  color: #121212;
}

.clothing-out {
  color: #999;
}

.btn-filter {
  margin-bottom: 20px;
  width: 200px;
}

.clothing.panel {
  background-color: #DFF0D8;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  width: 220px;
  padding-bottom: 10px;
}

.clothing.panel.borrowed {
  background-color: #F2DEDE;
}

.panel .image {
  border: 1px solid #777;
}

.media-body {
  padding: 10px 15px;
}

#imageModal .modal-body {
  padding: 0;
}

.modal-image {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 5px;
}

.text-overlay.left {
  left: 30px;
}

.text-overlay.right {
  top: 15px;
  right: 30px;
}

.btn-overlay {
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.borrow-form {
  margin: 0;
  padding: 20px 40px;
}

.form.right {
  margin-top: 10px;
  margin-left: 40px;
  display: inline-block;
  width: 60%;
}

.form-title {
  margin-top: 0;
}

a {
  color: #FF4D5B;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:disabled {
  color: #777;
  cursor: default;
}

a.carousel-control:hover {
  cursor: pointer;
}

.btn:not(:first-child) {
  margin-left: 10px;
}

#footer {
  margin-bottom: 20px;
}
